<form method="POST" action="/users">
  <input id="username_textbox" placeholder="input username" name="username">
  <input id="password_textbox" placeholder="input password" name="password">
  <input id="email_textbox"    placeholder="input email"    name="email"   >
  <input id="Sign Up" type="submit" value="Sign Up">
</form>
