/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
.body {
  background-color: white;
}

.container {
  margin: 10px;
}

.post {
  background-color: #80ffff;
  margin: 15px;
  padding: 10px;
}

.post:nth-child(odd) {
  background-color: #70dbdb;
}

.post:hover {
  background-color: #ccffff;
  transition: 0.3s;
}

.comments {
  background-color: #e6ffff;
}



@import "bootstrap"
